using Microsoft.AspNetCore.Identity;
@model UltimateStatsWebApp.Models.Stats

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Stats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Catches" class="control-label"></label>
                <input asp-for="Catches" class="form-control" />
                <span asp-validation-for="Catches" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Throws" class="control-label"></label>
                <input asp-for="Throws" class="form-control" />
                <span asp-validation-for="Throws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameNumber" class="control-label"></label>
                <input asp-for="GameNumber" class="form-control" />
                <span asp-validation-for="GameNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamScore" class="control-label"></label>
                <input asp-for="TeamScore" class="form-control" />
                <span asp-validation-for="TeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpponentScore" class="control-label"></label>
                <input asp-for="OpponentScore" class="form-control" />
                <span asp-validation-for="OpponentScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label" style="display: none;"></label>
                <input asp-for="userName" class="form-control" value=@User.Identity?.Name style="display: none;" />
                <span asp-validation-for="userName" class="text-danger" style="display: none;"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
